._5689fe-wrapper {
  background: rgba(0,0,0,0.8);
  overflow-y: auto;
  height: 100%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999999999999;
  font-family: Lato !important;
  animation: gr__premium_dialog_appear 0.2s ease-in forwards;
  transform: translateZ(0);
  box-sizing: border-box;
}

._5689fe-wrapper * {
  box-sizing: border-box;
}

._5689fe-wrapper._5689fe-hide {
  animation: gr__premium_dialog_disappear 0.2s ease-in 0.2s forwards;
}

._5689fe-wrapper._5689fe-hide ._5689fe-content {
  animation: gr__premium_dialog_content_disappear 0.2s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

@keyframes gr__premium_dialog_appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes gr__premium_dialog_disappear {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes gr__premium_dialog_content_appear {
  from {
    transform: translateX(-50%) scale(0.7);
    opacity: 0;
  }

  to {
    transform: translateX(-50%) scale(1);
    opacity: 1;
  }
}

@keyframes gr__premium_dialog_content_disappear {
  from {
    transform: translateX(-50%) scale(1);
    opacity: 1;
  }

  to {
    transform: translateX(-50%) scale(0.7);
    opacity: 0;
  }
}

._5689fe-content {
  background: #fff;
  overflow: hidden;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
  border-radius: 5px;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: 5%;
  margin-top: 0;
  width: 900px;
  opacity: 0;
  animation: gr__premium_dialog_content_appear cubic-bezier(0.77, 0, 0.175, 1) 0.3s forwards;
}

._5689fe-features,
._5689fe-quotes {
  display: inline-block;
  vertical-align: top;
}

._5689fe-features {
  width: 650px;
}

._5689fe-quotes {
  width: 250px;
}